---
layout: default
---

<div align="left" style="width: 180%;">
  
  
  <h2><strong>Real-time speech enhancement samples</h2>
  
  <body>
      Below, we provide enhanced samples by real-time speech enhancement models. 
      <br>
      The small version (below) indicates the version using a frame size of 12 and a stride size of 4 for the real-time pipeline.
      <br>
      The base version (below) indicates the version using a frame size of 40 and a stride size of 16 for the real-time pipeline.
   
  <br>
  <h3><strong> Small Versions </h3>
  <hr>
	  
  <h4><strong> Sample: p320_220 </h4>
  <table>
				<tbody>
				  <tr>
  					<th>Noisy</th>
					<th>DEMUCS-S</th>
  					<th>RT-SENet-S</th>
  					<th>RT-SENet-S (Distill)</th>

				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>
  <h4><strong> Sample: p320_221 </h4>
  <table>
				<tbody>
				  <tr>
  					<th>Noisy</th>
					<th>DEMUCS-S</th>
  					<th>RT-SENet-S</th>
  					<th>RT-SENet-S (Distill)</th>

				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>


  <h3><strong> Base Versions </h3>
  <hr>
	  
  <h4><strong> Sample: p320_220 </h4>
  <table>
				<tbody>
				  <tr>
  					<th>Noisy</th>
					<th>DEMUCS</th>
					<th>CleanUnet-S</th>  
  					<th>RT-SENet-M</th>
  					<th>RT-SENet-M (Distill)</th>
  					<th>RT-SENet-L</th>
  					<th>RT-SENet-L (Distill)</th>

				  </tr>
  				<tr>
  					<td><audio controls="" preload="none"><source src="wavs/GT/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/Reference/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX1/LJ018-0288.wav"></audio></td>
  					<td><audio controls="" preload="none"><source src="wavs/EX2/LJ018-0288.wav"></audio></td>
				  </tr>
				</tbody>
  </table>

    

  <br>
  Thanks for your interest!
  </body>
  
</div>
